.raleway-rale {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.jo {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;

}

.inter-intero {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

h3.font {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;

}

button.sign {
    height: 48px;
    width: 132px;
    text-align: center;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

button.sigp {

    height: 48px;
    width: 174px;
    text-align: center;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
}

button.sigm {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
}

button:hover {
    background-color: darkgoldenrod;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.banner {
    width: 905px;
    height: 237px;
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 158px;
    gap: 37px;
    margin-bottom: 152px;
}

.cool {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.Header {
    background-image: url(../styles/Hero-bg.png);
    width: 100%;
    /*******/
    height: 746px;
}

.action-tittle {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    opacity: 100%;
    margin-bottom: 23px;
}

.subtitle {
    font-weight: normal;
    font-size: 24px;
    color: #252432;
    opacity: 50%;
}

.sign {

    height: 48px;
    width: 229px;
    text-align: center;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
}

.action {
    padding-top: 50px;
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 100px;


}

.action-image {
    height: 328px;
    width: 403px;
    border-radius: 30px;

}

.action-tittle1 {
    width: 342px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 25px;
    margin-bottom: 45px;
}

.productive {
    width: 980px;
    height: 317px;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-right: 80px;
    background-color: #e4e3ff;
    margin: 0 auto;
    align-items: center;
    border-radius: 30px;

}

.center-subtitle {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 856px;
    height: 121px;
    gap: 158px;
}

.center-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;

}

.pro {
    font-size: 90px;
    font-weight: bold;
    color: #4E47FF;
}

.subtitle2 {
    width: 180px;
    height: 121px;
    margin: 10px;
}

.cl {
    font-size: 20px;
    font-weight: normal;
    color: #77777d;
}

.touch {
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 71px;
    padding-bottom: 71px;
    gap: 115px;
}

.touch3 {
    width: 528px;
    height: 232px;
    font-size: 97px;
    font-weight: bold;
    text-align: justify;
    color: black;
    display: flex;
    justify-content: column;
    margin-top: 80px;
}

.touch-form {
    height: 490px;
    width: 497px;
    gap: 100px;


}

.touch-form input {
    width: 100%;
    border: none;
    height: 75px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    align-content: baseline center;

}

textarea::placeholder {
    padding-left: 20px;
    padding-top: 13px;
    font-size: 20px;
}

input::placeholder {
    padding-left: 20px;
    font-size: 20px;
}

.email {
    font-size: 18px;
    font-size: medium;

}

.intro {
    width: 100%;
    height: 105px;
}

.signo {
    height: 62px;
    width: 505px;
    text-align: center;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

textarea {
    border: none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

.foot1 {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.12);
    height: 200px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.foot {

    border: #252432;
    height: 229px;
    width: 531px;
    margin: 0 auto;
    align-items: center;
}

.lego {

    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;

}

.mego {
    height: 121px;
    width: 290px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

.para {
    width: 531px;
    height: 56px;
    color: #8987A1;
    text-align: justify;
    margin: 0 auto;
}

.mara {
    text-align: center;
}

.last {
    display: flex;
    justify-content: space-around;
    color: #8987A1;
}

.last a {
    color: #8987A1;
    text-decoration: none;
}







.feedback {
    width: 1140px;
    height: 330px;
    margin: 0 auto;
    margin-top: 150px;
}

.say {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.design {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.design1 {
    padding: 24px;
    height: 220px;
    width: 342px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
}

.design2 {

    font-size: 25px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 5px;
}

.design4 {
    display: flex;
    margin: 0 auto;
    justify-content: left;
    gap: 15px;
    margin-top: 24px;
}

.design5 {
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

.design6 {
    font-size: 19px;
}

.star {
    display: flex;
    justify-content: left;
    margin-top: 5px;
    gap: 5px;
}

.date {
    color: #9999a0;
}